<div th:fragment="errorToast" th:if="${errorMessage != null}">
    <div role="alert" class="alert alert-danger alert-dismissible fade show z-1000 fixed-top top-0 start-50
         translate-middle-x border-2 border-danger-subtle">
        <div class="alert-heading">
            <p class="text-center fw-bold">
                <i class="bi bi-exclamation-octagon-fill"></i>

                <span class="ms-2" th:switch="${mode}">
                    <span th:case="${T(ntukhpi.csit.semit.riv.webappsrivlab3.controller.Mode).ADD}"
                          th:text="'Failed to save'"></span>
                    <span th:case="${T(ntukhpi.csit.semit.riv.webappsrivlab3.controller.Mode).EDIT}"
                          th:text="'Failed to update'"></span>
                    <span th:case="${T(ntukhpi.csit.semit.riv.webappsrivlab3.controller.Mode).DELETE}"
                          th:text="'Failed to delete'"></span>
                    <span th:case="*"
                          th:text="'Action Unsuccessful'"></span>
                </span>
            </p>

            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <hr>

        <p class="mb-0 text-center" th:text="${errorMessage}"></p>
    </div>
</div>