<header th:fragment="header">
    <nav class="container-fluid navbar navbar-expand-lg bg-info-subtle text-info-emphasis font-monospace">
        <div class="mx-3">
            <div class="navbar-brand text-info">
                <img class="rounded-circle" width="50" height="50" alt="Favicon"
                     th:src="@{/image/icon/favicon_square.png}">
                <span class="p-0 m-0 ms-2">Student Database Viewer</span>
            </div>
        </div>

        <div class="mx-3">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse mx-3" id="navbarNavAltMarkup">
            <div class="navbar-nav font-monospace text-info">
                <div class="nav-item me-5 text-info">
                    <a class="nav-link text-info" aria-current="page" th:href="@{/home}">Home</a>
                </div>

                <div class="nav-item dropdown me-5 align-content-center text-info">
                    <div class="nav-item dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Tables
                    </div>

                    <ul class="dropdown-menu font-monospace text-start text-secondary-emphasis">
                        <li>
                            <a class="dropdown-item" th:href="@{/entrants}">Entrant Table</a>
                        </li>
                        <li>
                            <a class="dropdown-item" th:href="@{/students}">Student Table</a>
                        </li>
                    </ul>
                </div>

                <div class="nav-item dropdown me-5 align-content-center text-info">
                    <div class="nav-item dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Add Record
                    </div>

                    <ul class="dropdown-menu font-monospace text-start text-secondary-emphasis">
                        <li>
                            <a class="dropdown-item" th:href="@{/entrants/add}">Add Entrant</a>
                        </li>
                        <li>
                            <a class="dropdown-item " th:href="@{/students/add}">Add Student</a>
                        </li>
                    </ul>
                </div>

                <div class="nav-item">
                    <a class="nav-link disabled text-body-tertiary" aria-disabled="true">Further more</a>
                </div>
            </div>
        </div>
    </nav>
</header>
